<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gangjianwang.www.gangjianwang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ct4UunVRGzIHBD5TNTc8yEDnWDzehb6S" />

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ChangecityActivity" />
        <activity
            android:name=".OrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".PropertyActivity" />
        <activity android:name=".PhoneproveActivity" />
        <activity android:name=".GoodsStoreCollectActivity" />
        <activity android:name=".FootActivity" />
        <activity android:name=".RefundActivity" />
        <activity android:name=".IntegrateActivity" />
        <activity android:name=".AccountBalanceActivity" />
        <activity android:name=".PrepaidPhoneCardActivity" />
        <activity android:name=".VoucherActivity" />
        <activity android:name=".RedBagActivity" />
        <activity android:name=".KindActivity" />
        <activity android:name=".AddOrderActivity" />
        <activity android:name=".SupplyActivity" />
        <activity
            android:name=".ClassifyActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".AdvertisementActivity" />
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".ContractProjectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".AddressManagerActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".GoodsDetailActivity" />
        <activity android:name=".ChooseAddressActivity" />
        <activity android:name=".ShopDetailActivity" />
        <activity android:name=".MakeSureOrderActivity" />
        <activity android:name=".ReceiveAddressManageActivity" />
        <activity android:name=".AddReceiveAddressActivity" />
        <activity android:name=".ChoosePayWayActivity" />
        <activity android:name=".ManageBillInfoActivity" />
        <activity android:name=".ShopIntroActivity" />
        <activity android:name=".InquiryListActivity"></activity>
    </application>

</manifest>